<div>
    <h2>Create New Activity:</h2>
    <input type="text" ng-model="description" placeholder="Description"/>
    <button ng-click="createActivity()">Create</button>
</div>

<div>
    <h2>Search For Activity:</h2>
    <input ng-model="$ctrl.query" placeholder="Description" />
    Sort by:
    <select ng-model="$ctrl.orderProp">
        <option value="description">Alphabetical</option>
        <option value="time">Newest</option>
    </select>
</div>

<h2>Baby Things</h2>
<table>
    <tr>
        <th>Description</th>
        <th>Time</th>
        <th>Notes</th>
        <th>View/Modify</th>
    </tr>
    <tr ng-repeat="activity in activities | filter:$ctrl.query | orderBy:$ctrl.orderProp">
        <td>{{activity.description}}</td>
        <td>{{activity.time}}</td>
        <td>{{activity.notes}}</td>
        <td><a href="#!/activities/{{activity.id}}">Details</a></td>
    </tr>
</table>