<h2>Activity Detail</h2>
<table>
    <tr>
        <th>Description</th>
        <th>Time</th>
        <th>Notes</th>
        <th>Submit</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td><input type="text" ng-model="description" placeholder="{{$ctrl.activity.description}}" /></td>
        <td>{{$ctrl.activity.time}}</td>
        <td><input type="text" ng-model="notes" placeholder="{{$ctrl.activity.notes}}" /></td>
        <td><button ng-click="$ctrl.updateActivity()">Submit</button></td>
        <td><button ng-click="$ctrl.deleteActivity()">Delete</button></td>
    </tr>
</table>